.header {
    text-align: center;
    margin-top: 20px;
    height: 100px;
    border-bottom: 3px solid #333;
}

.header h1 {
    color: #333;
    font-size: 50px;
}

.header p {
    color: #333;
    font-size: 25px;
}