.container {
    position: relative;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"],
input[type="number"] {
    width: 130px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}
.buttonAdd{
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 150px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttonAdd[disabled]{
    background-color: red;
    color: #000;
    cursor: not-allowed;

}
.buttonSubmit {
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 200px;
}
.resultado{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;

}

